RewriteEngine On
RewriteBase /

# Redireciona páginas da pasta pages para a URL limpa
RewriteCond %{THE_REQUEST} ^[A-Z]{3,}\s/+pages/([^\s]+) [NC]
RewriteRule ^ %1 [R=301,L]

# Internamente, redireciona as URLs limpas para os arquivos na pasta pages
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/pages/
RewriteRule ^(.+)\.html$ pages/$1.html [L]

# Serve a página index.html da raiz
RewriteRule ^$ index.html [L]